#gallery {
  padding: 3em 0 0;
}
#gallery h1 {
  padding: 0.3em 2em;
  color: white;
  background-color: blueviolet;
}
.gallery .photo {
  margin: 0px;
  padding: 0px;
  position: relative;
}
.btn-icon .bi {
  font-size: 35px;
  height: 50px;
  width: auto;
  color: #5c5c5c;
  background-color: white;
  border-radius: 50%;
  margin: 0 5%;
  padding: 1px 5px;
}

@media screen and (min-width: 760px) {
  .photo:hover::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  .photo-content {
    margin: 5% 10%;
    display: none;
    top: 0;
    transform: translateY(10%);
    position: absolute;
    color: white;
  }
  .photo:hover .photo-content {
    display: block;
  }
  .photo-content p {
    margin-bottom: 50px;
  }
}
