@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.type-plugin {
  color: white;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  transition-duration: 0.7s;
  font-weight: 500;
}
a,
a:hover {
  text-decoration: none;
  color: white;
}
ul li {
  list-style-type: none;
}
